h1 {
    color: #27aedb;
    text-align: center;
}


button {
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.bg-pink {
    background-color: pink;
}

#todo-list {
    width: 700px;
    display: block;
    margin: auto;
}

form,
.todo {
  
    padding: 10px 20px;
    margin-bottom: 10px;
}

form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

form input {
    padding: 4px 8px;
    flex-grow: 1;
    margin-right: 16px;
}

.todo {
    display: flex;
    margin: 0;
    padding: 0;
}

button {
    font-size: 16px;
    background-color: white;
    color: #27aedb;
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    margin: 0px 10px;
}

button:focus {
    outline: 0;
}

input[type='text'] {
    font-size: 20px;
    font-family: monospace;
}

.todo-text input {
    padding: 4px;
}

.todo-text {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.todo-completed  {
    display: flex;
    margin: 10px 0;
}

.todo-actions  {
    place-self: center;
    
}